<nav class="columns is-mobile is-dark navbar is-fixed-bottom toolbar">
  <div class="column has-text-centered">
    <%= link_to root_path, class: "has-text-white" do %>
      <i class="fa fa-home fa-lg"></i>
    <% end %>
  </div>

  <div class="column has-text-centered">
    <%= link_to searches_path, class: "has-text-white" do %>
      <i class="fa fa-search fa-lg"></i>
    <% end %>
  </div>

  <div class="column has-text-centered">
    <%= link_to cart_path, class: "has-text-white" do %>
      <i class="fas fa-cart-plus fa-lg"></i>
    <% end %>
  </div>
  
  <div class="column has-text-centered">
    <%= link_to address_path, class: "has-text-white" do %>
      <i class="fas fa-address-book fa-lg"></i>
    <% end %>
  </div>
</nav>