<section class="hero is-dark">
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="is-2-desktop">
          <%= image_tag "logo.png" %>
      </div>
      <h1 class="title has-text-weight-light">
        AQUI VOCÊ VAI <br />
        <span class="has-text-primary">SE REALIZAR</span>
      </h1>
      <div class="columns is-mobile is-multiline">
        <% @brands.each do |brand| %>
          <div class="column is-half">
            <%= link_to brand, class: 'is-small has-background-white-ter is-rounded is-fullwidth button has-text-primary' do %>
              <span class="icon">
                <i class="fa fa-chevron-circle-right"></i>
              </span>
              <span><%= brand.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>
      <br /><br />
      <%= link_to "CADASTRE-SE!!", new_user_registration_path, class: "button is-medium is-outlined is-primary" %>
    </div>
  </div>
</section>